Imports and loading data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [30]:
presence = pd.read_csv('presence_2025-05-04_21-00.csv')
population = pd.read_csv('estat_demo_pjangroup$defaultview_filtered_en.csv')

presence.head(2)

,Judet,UAT,Localitate,Siruta,Nr sectie de votare,Nume sectie de votare,Mediu,Înscriși pe liste permanente,LP,LS,...,Femei 111,Femei 112,Femei 113,Femei 114,Femei 115,Femei 116,Femei 117,Femei 118,Femei 119,Femei 120
0,AB,MUNICIPIUL ALBA IULIA,ALBA IULIA,1017,1,CENTRUL DE ZI PENTRU PERSOANE VÂRSTNICE,U,1777,887,65,...,0,0,0,0,0,0,0,0,0,0
1,AB,MUNICIPIUL ALBA IULIA,ALBA IULIA,1017,2,ŞCOALA GIMNAZIALĂ „VASILE GOLDIŞ”,U,985,501,90,...,0,0,0,0,0,0,0,0,0,0

We'll separate votes into age groups

In [68]:
age_groups = ["Barbati 18-24","Barbati 25-34","Barbati 35-44","Barbati 45-64","Barbati 65+","Femei 18-24","Femei 25-34","Femei 35-44","Femei 45-64","Femei 65+"]

age_group_count = presence[age_groups].sum()
age_group_count

Barbati 18-24     367862
Barbati 25-34     603845
Barbati 35-44     909214
Barbati 45-64    1870019
Barbati 65+       952283
Femei 18-24       373845
Femei 25-34       611195
Femei 35-44       869933
Femei 45-64      1858511
Femei 65+        1155033
dtype: int64

Now let's get the population in Romania for these age groups

In [69]:
population.head(2)

,DATAFLOW,LAST UPDATE,freq,unit,sex,age,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:DEMO_PJANGROUP$DEFAULTVIEW(1.0),24/04/25 23:00:00,Annual,Number,Females,Total,Andorra,2019,37388.0,NaN,NaN
1,ESTAT:DEMO_PJANGROUP$DEFAULTVIEW(1.0),24/04/25 23:00:00,Annual,Number,Females,Total,Albania,2015,1424597.0,NaN,NaN

In [70]:
def map_age_range_to_group(age_range):
    if "Less than" in age_range or " 0 to" in age_range or " 5 to" in age_range or "10 to" in age_range:
        return None  # Under 18, not included
    elif "20 to 24" in age_range:  # "15 to 19" in age_range
        return "18-24"
    elif "25 to 29" in age_range or "30 to 34" in age_range:
        return "25-34"
    elif "35 to 39" in age_range or "40 to 44" in age_range:
        return "35-44"
    elif "45 to 49" in age_range or "50 to 54" in age_range or "55 to 59" in age_range or "60 to 64" in age_range:
        return "45-64"
    elif "65" in age_range or "70" in age_range or "75" in age_range or "80" in age_range or "85" in age_range or "90" in age_range:
        return "65+"
    else:
        return None

In [72]:
# we'll take 2024 since it's the most recent year we have in the dataset
# and ['geo'] == 'Romania' since we re only looking for the population in Romania

population_romania = population[(population['geo'] == 'Romania') & (population['TIME_PERIOD'] == 2024)]
population_romania['Mapped Group'] = population_romania['age'].apply(map_age_range_to_group)
grouped_population = population_romania.groupby(['Mapped Group', 'sex'])['OBS_VALUE'].sum()
print(grouped_population)

Mapped Group  sex
18-24         Females     476768.0
              Males       508551.0
              Total       985319.0
25-34         Females    1010859.0
              Males      1081235.0
              Total      2092094.0
35-44         Females    1292161.0
              Males      1376820.0
              Total      2668981.0
45-64         Females    2712102.0
              Males      2662808.0
              Total      5374910.0
65+           Females    3823203.0
              Males      2328425.0
              Total      6151628.0
Name: OBS_VALUE, dtype: float64

C:\Users\Tudor\AppData\Local\Temp\ipykernel_10928\1361577187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population_romania['Mapped Group'] = population_romania['age'].apply(map_age_range_to_group)

Now we can plot procentages

In [ ]:
import matplotlib.pyplot as plt

# this will be the basic plot with the number of votes

plt.bar(x=age_group_count.index, height=age_group_count.values / 1000_000, color='skyblue', edgecolor='black')
plt.title('Voter Count by Age Group')
plt.xlabel('Age Group')
plt.ylabel('Number of Voters (in milions)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

SyntaxError: invalid syntax (665099340.py, line 7)

In [ ]:
import matplotlib.pyplot as plt

# here we ll plot the population for age groups

plt.bar(x=age_group_count.index, height=age_group_count.values / 1000_000, color='skyblue', edgecolor='black')
plt.title('Voter Count by Age Group')
plt.xlabel('Age Group')
plt.ylabel('Number of Voters (in milions)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()